.user-avatar{
    float:left;
    margin-left:50%;
    transform: translateX(-50%);
}
.user-hello{
    padding-top: 130px;
}

.is-login{
    padding-top: 40px;
}

.logout{
    float: right;
    font-size: 29px;
}
.logout-click{
    color: pink;
}
